{% extends 'homepage.html' %}
{% load static %}
{% block title %} <title> View_Employees_Projects</title>{% endblock %}
{% block content %}
    <div class="container">
        <p></p>
        <p></p>
        <form method="POST" action="{% url 'extract_emp_data' %}">{% csrf_token %} 
        <div class="row">
            <div class="col-md-3">
               <label for="input_employee_lname" class="form-label">Enter Employee Last Name</label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" placeholder="Enter Employee Last Name" name= "lname" id="fname" >
             </div>
        </div>
        <div class="row">
            <div class="col-md-3">
               <label for="input_employee_lname" class="form-label">Enter Employee First Name</label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" placeholder="Enter Employee First Name" name= "fname" id="input_employee_fname" >
             </div>
        </div>
        <p></p>
         <button type="submit" class="btn btn-primary" style="margin: auto; display:block;">View Records</button>
        
    </form>
        
    </div>
   

{% endblock %}