{% extends 'homepage.html' %}
{% load static %}
{% block title %} <title> Emp_Name_AND_Emp_Project</title>{% endblock %}
{% block content %}
   <div class="container-fluid">
       <div class="row">
           <h1>Project name and hours associated with the employee </h1>
       </div>
       <div class="row gx-5">
           <table class="table table-bordered">
               <thread>
                   <tr>
                       <th scope="col">First Name </th>
                       <th scope="col">Middle Initial </th>
                       <th scope="col">Last Name </th>
                       <th scope="col">Project name </th>
                       <th scope='col'>Project hours</th>
                    </tr>
               </thread>
               <tbody>
                   {% for i in data %}
                        <tr>
                            <td>{{i.Fname}}</td>
                            <td>{{i.Minit}}</td>
                            <td>{{i.Lname}}</td>
                            <td>{{i.PName}}</td>
                            <td>{{i.hours}}</td>
                        </tr>
                   {% endfor %}
               </tbody>
           </table>
       </div>
   </div>
{% endblock %}